@import "../../assets/Sass/fonts.scss";


.cardEdit-container{
       position: fixed;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       
       background: rgba(145, 154, 150, 0.3);
       backdrop-filter: blur(4px);
        min-height: 100vh;

    .cardEditCliente {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
      
        border-radius: 1em;
        box-shadow: 0 0 1em black;
        width: 47em;
        height: 55em;
        
        padding: 0 5.0em;
        z-index: 1;
        position: absolute;
        left: 33%;
        top: 5em;
        bottom: 0;
        left: 60;
        
       
        background-color: #FAFAFA;
    
        .header-edicao{
            position: relative;
            img{
                width: 1.5em;
                position: absolute;
                left: 37em;
                top: 0.05em;
            }
    
        }
    
       
    
        h1 {
            margin: 1.5em;
        }
    
        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            button {
               margin-top: 2em;
              }
            
        }
    
       
       
    }


}
