.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    background: url('https://i.picsum.photos/id/1048/5616/3744.jpg?hmac=N5TZKe4gtmf4hU8xRs-zbS4diYiO009Jni7n50609zk');
    background-repeat: no-repeat;
    background-size: 100%;

    min-height: 100vh;
}