@import "../../assets/Sass/fonts.scss";

.resumo-page {

    min-height: 100vh;

    h1{
        margin-left: 3em;

        font-family: $montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 3em;
    }
    

.card-resumo {

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 30em;
    margin-right: 30em;
    padding: 1em;
    
    font-family: $nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;

    color: black;

    
    background-color: #FAFAFA;

    border-bottom: 1px solid rgb(192, 192, 192);
    

    span {
        display: flex;
    }

    .info  {
        display: flex;
        flex-direction: column;
    }


}
}