@import "../../assets/Sass/fonts.scss";

.toast-success-container {
    z-index: 1;
    position: fixed;
    top: 5em;
    right: 11em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30em;

    padding: 1em;
  
    background: #C3D4FE;
    
    border-radius: 1em;
    
    p {
      padding: 1em 0;
      margin: auto 0;
      color: #B22222;
      font-family:  $nunito;
      font-weight: bold;
      font-size: large;
    }
  }
  