@import "../../assets/Sass/fonts.scss";

.imoveis-page {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    background-color: rgb(230, 230, 230);

    h1 {
        margin-left: 3em;
        margin-bottom: 1em;

        font-family:$montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 3em;
    }

    .imoveis-container{
        display: flex;
        flex-wrap: wrap;
    }

}