@import "../../assets/Sass/fonts.scss";

.resumo-page {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    padding-bottom: 5em;
    h1{
        margin-left: 3em;

        font-family: $montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 3em;
    }
    

.card-resumo {

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    padding: 1em;
    
    font-family: $nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;

    color: black;

    width: 51em;
    background-color: #FAFAFA;

    border-bottom: 1px solid rgb(192, 192, 192);
    

    span {
        display: flex;
        max-width:20em;
    }

    .info  {
        display: flex;
        flex-direction: column;
    }

    .button{
        position: relative;
    }

    button {
        all: unset;
        cursor: pointer;
        margin:3em auto;
        padding: 0.5rem 4rem;
        text-align: center;
        background-color: blue;
        border-radius: 1rem;
        transition: 0.2s;
        color: #f8f8f9;
    
        box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02);
    
        font-family: $nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 1.7rem;

       
    
        &:active {
            box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.042),
            6.7px 6.7px 5.3px rgba(0, 0, 0, 0.061),
            12.5px 12.5px 10px rgba(0, 0, 0, 0.075)
           
        }
      }
    


}


}