.card-imoveis {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin:1em;
    margin-left: 4em;
    padding:3em;

    width: 27em;
    border-radius: 1em;
    box-shadow: 0 0 1em black;
&:hover {
    zoom: 1.01;
    background-color:#e4e4e4 ;
    
    
}

    background-color: #FAFAFA;

    h2{
       margin: 0.3em;
    }

    img {
        margin-bottom: 1em;
    }

    cursor: pointer;
}